@media only screen and (max-width: 900px) {
  body{
    font-size: 14px;
  }
  .container.page{
    margin-top: 70px;
    padding-bottom: 100px;
  }
  p{
    font-size: 16px;
  }
  .menu{
    left: 14px;
    top: 14px;
    padding: 3px;
    .menu-item{
      padding: 3px 10px;
      margin: 0;
    }
  }
  h2{
    font-size: 24px;
  }
  .hero{
    .spinning-logo{
      transform: translate(-50%, -50%) scale(0.8);
    }
    &.page-hero{
      width: 100%;
    }
  }
  .grid{
    .row{
      width: 100%;
    }
  }

  .project{
    flex-direction: column;
    h2{
      font-size: 32px;
    }
    .content-right{
      width: 100%;
      padding: 24px 14px;
    }
    .text-section{
      .description{
        a{
          font-size: 14px;
        }
      }
    }
  }

  .hero.page-hero{
    height: 50vh;
  }

  .news-preview{
    .grid-item{
      flex-direction: column;
      img{
        width: 100%;
        margin-right: 0;
      }
      .info{
        width: 100%;
        margin-left: 0;
      }
      h2{
        font-size: 32px;
        word-wrap: break-word;
        padding-bottom: 48px;
      }
    }
  }

  .text-section{
    flex-direction: column;
    .description{
      width: 100%;
      p{
        font-size: 16px;
      }
    }
  }
  .news-page {   
    margin-top: 70px;
    padding-bottom: 100px;
    h2{
      font-size: 32px;
    }
  }

.people-section{
  flex-direction: column;
  .people{
    width: 100%;
    padding: 0px;
    margin-bottom: 24px;
  }
}

.masonry{
  .grid{
    .grid-item{
      width: 100%;
    }
  }
}

.page-title{
  font-size: 32px;
  margin-top: 70px;
}

.services-preview{
  .service-item{
    width: 100%;
    img{
      margin: -20% -5%;
    }
  }
}


.services{
  .text-section{
    img{
      width: 100%;
      height: auto;
      margin: -20% auto;
    }
  }
  .preview{
    width: 100%;
  }
}

.subtitle{
  margin-top: 10px;
}

 footer{
  h2{
    font-size: 30px;
  }
 }
}