@media only screen and (max-width: 600px) {
  body{
    font-size: 14px;
  }
  .container.page{
    margin-top: 70px;
  }
  p{
    font-size: 16px;
  }
  .menu{
    left: 10px;
    .menu-item{
      padding: 3px 8px;
    }
  }
  h2{
    font-size: 24px;
  }
  .hero{
    .spinning-logo{
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
  .grid{
    .row{
      width: 100%;
    }
  }

  .news-preview{
    .grid-item{
      flex-direction: column;
      img{
        width: 100%;
        margin-right: 0;
      }
      .info{
        width: 100%;
        margin-left: 0;
      }
      h2{
        font-size: 32px;
        word-wrap: break-word;
      }
    }
  }

 footer{
  h2{
    font-size: 32px;
  }
 }
}